body{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
}
.black-border{
    border: 2px solid black;
}
#green-background{
    background-color: green;
}
.title{
    color: black;
    font-size: 24px;
    font-weight: bold;

}
.headers{
    color: darkgreen; 
}
a, p{
    color: darkolivegreen;
    font-size: 12px;
}
a{
    font-weight: bold;
}
.footer{
    color: darkgreen;
    font-size: 16px;
}
