
*{
    background-color: #2F6A01;
}

/* styling Mobile */
@media screen and (min-width: 320px){
    .header-nav-lists{
    color: black;
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    box-sizing: border-box;
    }
    .img-logo{
        height: 33px;
        width: 29px;
        display: inline-block;
        box-sizing: border-box;
    }
    .menu-block-header{
        display: inline-block;
        box-sizing: border-box;
        background-color: #9ACD32; 
        text-align: left;
        width: 100%;
    }
    .menu-block-header menu{
        text-align: left;
        box-sizing: border-box;
        display: inline-block;
        margin: 0px;
        padding: 0px
    }
    .menu-block-header ul li{
        color: black;
    }
    .body{
        color: white;
        text-align: left;
    }
    body{
    margin: 20px 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
}
    .header-about{
        border-bottom: 2px solid black;
    }
    main{
        text-align: left;
        line-height: 0.8em;
    }
    .headers{
        font-size: 1em;
        text-align: left;
        color:white;
        line-height: 1em;
    }
    .black-border{
        border-top: 2px thin black;
        border-bottom: 2px thin black;
    }
    .title{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
}
.block{
    display: inline-block;
    margin-top: 2px;
    padding-top: 2px;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
}
.block li{
    display: inline-block;
    margin-top: 2px;
    padding-top: 2px;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    text-align: center;
}
a, p{
    color: white;
    font-size: 12px;
    text-align: justify;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
a{
    font-weight: bold;
    margin: 0 auto;
    padding: 5px
}
.block_extern {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    
}
}

/* styling desktop */
@media screen and (min-width: 1024px){
.img-logo{
    width: 43px;
    height: 39px;
    display: inline-block;
    box-sizing: border-box;
}
.header-nav-lists{
    color: black;
    display: inline-block;
    vertical-align: bottom;
    font-size: 20px;
    box-sizing: border-box;
    }
.menu-block-header{
        display: inline-block;
        box-sizing: border-box;
        background-color: #9ACD32; 
        text-align: left;
        margin-left: 0px;
    }
    .menu-block-header menu{
        text-align: left;
        box-sizing: border-box;
        display: inline-block;
        padding: 0px;
        margin-left: 0px;

    }
body{
    margin: 20px 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
}
header, main{
    border-bottom: 2px solid black;
    width: 100%;
    text-align: justify;
}
.menublock{
    
    width: 107;
    height: 26;
    
}
.centerheader{
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
}
.title{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
}
.headers{
    color: white;
    margin: 0 auto;
}
footer{
    color: white;
}
.black-border{
    
    width: 100%;    
}
.h4{
    color: white;
    font-weight: bold;
}
.block{
    display: inline;
    margin-top: 2px;
    padding-top: 2px;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    text-align: center;
}
.block li{
    display: inline;
    margin-top: 2px;
    padding-top: 2px;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    text-align: center;
}
.block_extern {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    
}
.block_extern p{
    margin-bottom: 2px;
}
nav a li{
    margin: 0 auto;
    padding: 2px;
    text-align: justify;
}

a, p{
    color: white;
    font-size: 12px;
    text-align: justify;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
a{
    font-weight: bold;
    margin: 0 auto;
    padding: 5px
}
}
